.gradient-custom {
    /* fallback for old browsers */
    background: #0b4f4056;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(108, 196, 187), rgb(106, 21, 52));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(48, 218, 201), rgb(104, 27, 204))
    }