<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AVGL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          
        </div>
        <a class="btn btn-secondary" id="login" href="login">Login</a>
          <a class="btn btn-secondary" id="signup" href="/register">Sign up</a>
      </div>
    </div>
  </nav>
  <section>
    <input class="col-sm-3" type="search-bar">
    <button type="onSumbit" class="btn btn-warning col-sm-1" id="srcb"><p style="vertical-align: middle;">Search</p></button>
  </section>
</div>


  
