<!-- <div style="position: relative">
  <div style="position: relative">
    <div id="background style=position:absolute; width=100%;height=100%"></div>
    <img [src]="data.background_image" alt="" width="400" />
  </div>

  <h3>{{ data.name }}</h3>
</div> -->
    


 <div class="row" >
  <div>
    <div class="card">
      <div class="card-body games-rows">
        <a routerLink="/game-details" [state] ="{data : data }" > 
        <img [src]="data.background_image" alt="" class="image-tabs"/>
        <h5 class="card-title">{{ data.name }}</h5>

        <p class="card-text"></p>
      </a>
    
        <a href="#" class="btn btn-primary">Play</a>
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <img [src]="data.background_image" alt="" width="400" />
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <img [src]="data.background_image" alt="" width="400" />
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
